body {
  background: #000;
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
i,ul,ol{
  list-style-type: none;
}

.header{
  height: 100vh;
  width: 100%;
}

@keyframes opacity-background{
  0% { filter: opacity(0.0); }
  100% { filter: opacity(0.3); }
}

@keyframes line {
  0%   { width: 0 }
  50% { width: 0 }
  100% { width: 80%; }
}

@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header::after {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url('/img/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  animation: opacity-background 3s forwards;
}

.header-content {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: appear 5s forwards;
}

.header-content img{
  height: auto;
}

.header-content h1{
  margin: 0;
  width: 10em;
  margin: auto;
  position: relative;
}

.header-content h1::after, .header-content h1::before{
  content: '';
  height: 10px;
  width: 80%;
  display: block;
  position: absolute;
  background-color: white;
  animation: line 2s forwards;
}

.header-content h1::after{
  left: 10%;
  top: -10%;
}

.header-content h1::before{
  right: 10%;
  bottom: -80%;
}

.title {
  margin-top: 0;
  padding-top: 0.5em;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
}

.sub-title{
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

.header-content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.scroll-down{
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;  
  left: 0; 
  z-index: 1;
  animation: appear 5s forwards;
}

.scroll-down button{
  border-style: none;
  background: none;
  color: #ffffff;
  font-size: 1.5em;
}

.scroll-down button:active{
    border-style: none;
    outline: none;
    box-shadow: none;
    padding: 0 8px;
}

.scroll-down:hover button, .scroll-down:hover i{
  cursor: pointer;
  color: rgb(189, 189, 189,0.4);
}

.scroll-down i{
  position: absolute;
  top: -170%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0;
}

.text-center {
  text-align: center;
  margin: auto;
}

.bg-light, .bg-dark{
  position: relative;
}

.bg-light::before, .bg-dark::before{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-light {
  color: #333;
}

.bg-light::before{
  background-color: #fff;
}

.bg-dark {
  color: #f4f4f4;
}

.bg-dark::before{
  background-color: #2f3542;
}

.skills {
  padding:  0;
}

.skills h3{
  margin: 0;
}

.skills p:last-child{
  margin: 0;
  font-size: 12px;
  text-align: left;
  padding: 2em;
}

.list-skills{
  text-align: left;
}

.list-skills li{
  padding: 0.4em 1em;
  position: relative;
  font-weight: bold;
}


.list-skills li::before{
  content: '► ';
  display: block;
  position: absolute;
  font-size: 14px;
  bottom: 35%;
  left: -5px;
}

li i{
  float: right;
  padding-left: 0.5em;
  font-size: 20px;
  font-weight: normal;
}

.fa-webpack{
  background-color: white;
  -webkit-mask: url('data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4Ij48cGF0aCBmaWxsPSIjMWM3OGMwIiBkPSJNMTE3LjI5IDk4LjFMNjYuMjQgMTI3VjEwNC40OUw5OCA4NyAxMTcuMjkgOTguMXptMy41LTMuMTZWMzQuNTVMMTAyLjExIDQ1LjM1Vjg0LjE2bDE4LjY3IDEwLjc3ek0xMC43MSA5OC4xbDUxIDI4Ljg4VjEwNC40OUwyOS45NCA4N3ptLTMuNS0zLjE2VjM0LjU1TDI1Ljg5IDQ1LjM1Vjg0LjE2em0yLjE5LTY0LjNMNjEuNzYgMVYyMi43NkwyOC4yMSA0MS4yMWwtLjI3LjE1em0xMDkuMTggMEw2Ni4yNCAxVjIyLjc2TDk5Ljc5IDQxLjJsLjI3LjE1IDE4LjU0LTEwLjcxek02MS43NiA5OS4zN0wzMC4zNyA4Mi4xVjQ3LjkyTDYxLjc2IDY2em00LjQ4IDBMOTcuNjMgODIuMTJWNDcuOTJMNjYuMjQgNjZ6TTMyLjUgNDRMNjQgMjYuNjYgOTUuNSA0NCA2NCA2Mi4xNiAzMi41IDQ0eiIvPjwvc3ZnPg==') no-repeat center;
  mask: url('data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4Ij48cGF0aCBmaWxsPSIjMWM3OGMwIiBkPSJNMTE3LjI5IDk4LjFMNjYuMjQgMTI3VjEwNC40OUw5OCA4NyAxMTcuMjkgOTguMXptMy41LTMuMTZWMzQuNTVMMTAyLjExIDQ1LjM1Vjg0LjE2bDE4LjY3IDEwLjc3ek0xMC43MSA5OC4xbDUxIDI4Ljg4VjEwNC40OUwyOS45NCA4N3ptLTMuNS0zLjE2VjM0LjU1TDI1Ljg5IDQ1LjM1Vjg0LjE2em0yLjE5LTY0LjNMNjEuNzYgMVYyMi43NkwyOC4yMSA0MS4yMWwtLjI3LjE1em0xMDkuMTggMEw2Ni4yNCAxVjIyLjc2TDk5Ljc5IDQxLjJsLjI3LjE1IDE4LjU0LTEwLjcxek02MS43NiA5OS4zN0wzMC4zNyA4Mi4xVjQ3LjkyTDYxLjc2IDY2em00LjQ4IDBMOTcuNjMgODIuMTJWNDcuOTJMNjYuMjQgNjZ6TTMyLjUgNDRMNjQgMjYuNjYgOTUuNSA0NCA2NCA2Mi4xNiAzMi41IDQ0eiIvPjwvc3ZnPg==') no-repeat center;
  display:inline-block;
  width: 20px; height: 20px;
}

.experience .container{
  padding: 1.5em;
}

.timeline{
  padding: 0;
}

.timeline-item{
  position: relative;
  width: 0.5em;
  margin: 0 auto;
  padding-top: 50px;
  background: black;
}

.timeline-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 2em; height: 2em;
  border-radius: 50%;
  background: black;
}

.timeline-item-container{
  position: relative;
  bottom: 0;
  width: 7em;
  padding: 1em;
  color: white;
  background: #333;
}

.timeline-item-container::before {
  content: '';
  position: absolute;
  bottom: 0.4em;
  width: 0; height: 0;
  border-style: solid;
}

.timeline-item-date{
  font-weight: bold;
}

.timeline .timeline-item:nth-child(odd) .timeline-item-container {
  left: 3em;
}

.timeline .timeline-item:nth-child(odd) .timeline-item-container::before {
  left: -1em;
  border-width: 8px 16px 8px 0;
  border-color: transparent #333 transparent transparent;
}

.timeline .timeline-item:nth-child(even) .timeline-item-container {
  left: -10em;
}

.timeline .timeline-item:nth-child(even) .timeline-item-container::before {
  right: -1em;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #333;
}

footer p {
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 560px) {
  .header-content{
    height: 90%;
    top: 25%;
    left: -4%;
    width: auto;
  }

  .header::after{
    background-attachment: fixed;
    background-position: -15em -12em;
  }  

  .grid-3, .grid-2 {
    grid-template-columns: 1fr;
  }

  .header-content h1{
    width: 8em;

  }

  .skills div {
    padding: 1.4rem 1rem;
  }
  .list-skills{
    padding-left: 15px;
  }
  .list-skills li{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .list-skills li::before{
    bottom: 15%;
    left: -20px;
    font-size: 16px;
  }
}

/* Landscape */
@media(max-height: 500px) {
  .header-content {
    top: 0;
  }
}
