header(id="header", class="header")
    div(class="header-title")
        h1(class="title") Carlos Arellano
        p(class="sub-title") Desarollador Web Full Stack
    div(class="header-icons")
        a(href="https://github.com/elCarlosHez" target="_blank")
            i(class="fab fa-github-square fa-2x")
        a(href="mailto:contacto@elcarlosarellano.com")
            i(class="fas fa-envelope-square fa-2x")
        a(href="https://www.linkedin.com/in/el-carlos-arellano" target="_blank")
            i(class="fab fa-linkedin fa-2x")
    div(class="header-message")
        p Se 1% mejor cada día
    div(id="scroll-down" class="scroll-down")
        i(class="fas fa-chevron-down fa-2x")
        button Conocer más ...