head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mi página | Carlos Arellano
    // Cache
    meta(http-equiv="Cache-control" content="public")
    // Google Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i")
    // AOS animation
    link(rel="stylesheet", href="./css/aos.css")
    // FontAwesome
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    // Sweet Alert
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.6/dist/sweetalert2.min.css")